<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="doaing.order">


    <application

        >

        <activity android:name=".view.LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            >
        </activity>

        <activity
            android:name=".view.DeskActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"
            />
      <!--  <activity
            android:name=".view.PayActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:theme="@style/AppTheme.NoActionBar" />-->
  <!--      <activity
            android:name=".view.DiscountActivity"
            android:theme="@style/AppTheme.NoActionBar" />-->
<!--        <activity
            android:name=".view.SaleActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />-->
<!--        <activity
            android:name=".view.ShowParticularsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysVisible|adjustPan"/>
        <activity
            android:name=".view.ScanActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />-->
        <!-- 通过AndroidManifest配置AppKey和AppSecret，如果你选择通过代码配置，则不需要配置以下meta-data -->
 <!--       <meta-data
            android:name="Mob-AppKey"
            android:value="21efc5a881e60" />
        <meta-data
            android:name="Mob-AppSecret"
            android:value="db061f16515cf08d8c98c9857c4550d9" />-->
<!--        <activity
            android:name=".view.MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:theme="@style/AppTheme.NoActionBar"
            ></activity>-->
     <!--   <service
            android:name="com.gprinter.service.GpPrintService"
            android:enabled="true"
            android:exported="true"
            android:label="GpPrintService" >
            <intent-filter>
                <action android:name="com.gprinter.aidl.GpPrintService" />
            </intent-filter>
        </service>
        <service android:name="com.gprinter.service.AllService" >
        </service>-->

    </application>

</manifest>